* {
  --color-body: #fff
}
body {
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
nav img {
  width: 200px;
  border-radius: 20px 20px 20px 20px;
}
.card-img-top:hover {
transform: scale(1.6);
z-index: 10000;
}
#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;

}
.h1-borde{
  color: var(--color-body);
  }
.borde {
  font-size: 20px;
  color: var(--color-body);
}
.bienvenida {
  font-size: 17px;
}

#accept-cookies {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


@media screen and (max-width: 767px) {
  .card-img-top:hover {
    transform: scale(1.05);
  }
}
